# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TestProjectG.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\ProjectFiles\UnityProjects\TestProjectG\.idea\.idea.TestProjectG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
